.homepage {

    list-style: none;
    display: flex;

    grid-template-columns: repeat(6, 1fr);
    gap: 10rem;
    align-items: center;
    justify-content: center;

    button {

        background: transparent;
        border: none;

        img {
            
            height: 6rem;
            display: grid;
            transition: transform 0.2s;

            &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            } 
        }
    }
}